<main>
  <p>Date : <strong><%= @daily.date.strftime("%F") %></strong></p>
  <p>Production journalière totale : <strong><%= @daily.energy.to_fs(:delimited, delimiter: " ") %></strong></p>
  <p>Détail de la production</p>
  <table>
    <thead>
      <tr>
        <th>Heure</th>
        <% @production.each do |inverter| %>
          <th>Onduleur <%= inverter.first.identifier %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% for i in 0..23 %>
        <tr>
          <td><%= i %></td>
          <% for j in 0...@production.size %>
            <td><%= @production[j] && @production[j][i] ? @production[j][i].energy.to_fs(:delimited, delimiter: " ") : "-" %></td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td>Total</td>
        <% @production.each do |inverter| %>
          <% array = inverter.map { |data| data.nil? ? 0 : data.energy } %>
          <td><%= array.sum.to_fs(:delimited, delimiter: " ") %></td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <button><%= link_to "Retour à l'index", dailies_path %></button>
</main>
